{
  "OPENAI_API_KEY": "",
  "OPENAI_ASSISTANT_ID": "",
  "LINE_USER_ID": "",
  "LINE_CHANNEL_ACCESS_TOKEN": "",
  "SLACK_BOT_TOKEN": "",
  "SLACK_USER_ID": "",
  "DB_TABLE_NAME": "chatgpt-bot-threads",
  "THREAD_ID_EXPIRATION_DATE": 1
}