{
  "OPENAI_MODEL": "gpt-5",
  "OPENAI_API_KEY": "",
  "LINE_USER_ID": "",
  "LINE_GROUP_ID": "",
  "LINE_REQUIRE_MENTION_IN_GROUP": "true",
  "LINE_CHANNEL_ACCESS_TOKEN": "",
  "SLACK_BOT_TOKEN": "",
  "SLACK_USER_ID": "",
  "DB_TABLE_NAME": "chatgpt-bot-threads",
  "THREAD_ID_EXPIRATION_DATE": 1,
  "ENV": "local",
  "AWS_ACCESS_KEY_ID": "dummy",
  "AWS_SECRET_ACCESS_KEY": "dummy",
  "AWS_DEFAULT_REGION": "ap-northeast-1"
}